<div class="container-bis">
  <%=image_tag 'nice.jpg', :alt => "Nice Ville", style: "width: 100%!important;" %>
    <div class="text-block"> 
      <h4>Nice la Bella</h4>
      <p>
        Nice est la capitale du département des Alpes-Maritimes sur la Côte d'Azur.<br>
        Elle est située sur le littoral de galets de la baie des Anges.
      </p>
    </div>
  </div>
</div>