<div class="container-bis">
  <%=image_tag 'nice.jpg', :alt => "Nice Ville", style: "width: 100%!important;" %>
    <div class="text-block"> 
      <h4>Nissa la Bella</h4>
      <p>
        Nice est la capitale du département des Alpes-Maritimes sur la Côte d'Azur.<br>
        Elle est située sur le littoral de galets de la baie des Anges.
      </p>
    </div>
  </div>
</div>

<div class="container alpha">
  <div class="row justify-content-center">
    <div class="col-sm-8 text-center">
      <p class="beta">Parmi les 25 villes françaises où se déroule la formation, dont Paris, Bordeaux et Lyon,
      vous aurez également la possibilité de suivre cette formation dans le sud au bord de la mer, et notamment à Nice <i class="fas fa-sun"></i></p>
    </div>
  </div>
</div>

<div class="container alpha">
  <div class="row justify-content-center"><div class="col-sm-8 text-center">  
    <div class="table-responsive">
      <table class="table">
        <h3>Nos prochaines sessions à Nice</h3>
        <br>
        <tr>
          <th>Date de debut de session</th>
          <th>Date de fin de session</th>
          <th>Date limite d'inscription</th>
        </tr>
        <tr>
          <td>lundi 07 Janvier 2019</td>
          <td>vendredi 22 Mars 2019</td>
          <td>Mardi 01 Janvier 2019 à 23h59</td>
        </tr>
        <tr>
          <td>lundi 01 Avril 2019</td>
          <td>vendredi 14 Juin 2019 </td>
          <td>mardi 26 Mars 2019 à 23h59 </td>
        </tr>
        <tr>
          <td>lundi 01 Juillet 2019 </td>
          <td>vendredi 13 Septembre 2019</td>
          <td>mardi 25 Juin 2019 à 23h59 </td>
        </tr>
      </table> 
    </div>
  </div>
</div> 