<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Fait avec <i class="fas fa-heart"></i> par le team THP NICE</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/the_hacking_pro">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/thehackingproject/">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/school/the_hacking_project/s">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/the_hacking_project/">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="#">Politique de Confidentialité</a>
          </li>
          <li class="list-inline-item">
            <a href="#">CGV</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>